.site-wrapper {
	display: grid;
	grid-template-columns: 1fr 10fr;
	grid-template-rows: 1fr 10fr 2fr;
	grid-template-areas:
	"site-header site-header site-header"
	"site-nav site-main site-main"
	"site-footer site-footer site-footer";
	background-color: gold;
	grid-gap: 1rem;
	margin: 0 1rem 0 1rem;
}

.site-header {
	background-color: aqua;
	grid-area: site-header;
}

.site-header img {
	height: 150px;
}

.site-nav {
	background-color: red;
	grid-area: site-nav;
}

.site-nav ul {
	counter-reset: li;
	list-style: none;
}

.site-nav a {
position: relative;
display: block;
padding: .4em .4em .4em 2em;
margin: 1em .5em;
background: #DAD2CA;
color: #444;
text-decoration: none;
border-radius: .3em;
}

.site-nav a::before {
	content: counter(li);
	counter-increment: li;
	background: #8FD4C1;
	position: absolute;
	bottom:50%;
	top: 50%;
	left: -1.3em;
	margin-top: -1.3em;
	border: .3em solid white;
	width: 2em;
	font-weight: bold;
	border-radius: 2em;
	text-align: center;
	height: 2em;
}

.site-main {
	background-color: blue;
	grid-area: site-main;
	background-image: url(assets/images/maiBackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.site-footer {
	background-color: black;
	grid-area: site-footer;
}